<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISgood Development</title>
    <link rel="stylesheet" href="./static/404-others.css">
    <meta content="ISgood Development" property="og:title" />
    <meta content="Coming Soon™" property="og:description" />
    <meta content="https://isgood.dev" property="og:url" />
    <meta content="./static/ISgood.png" property="og:image" />




    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#7844f0">


</head>

<body>
    <div class="main">
        <img class="logo no-select" src="./static/ISgood.png">
        <div class="title no-select">404</div>
        <!-- <div class="desc no-select">We create Discord bots.</div> -->
        <!-- <img src="https://cdn.discordapp.com/attachments/728304518173032449/971750558891388938/059.png"> -->
        <div class="desc no-select">Page not found!</div>
        <div class="github no-select"><a class="github-text no-select no-extra" href="./index.html">Home</a></div>
    </div>
</body>

</html>